<%= form_with url: room_reservation_path(@room), local: true do |f| %>
  <div class="form_group">
    <%= f.label :Start_day %><br/>
    <%= f.date_field :start_date %><br>
  </div>
  <div class="form_group">
    <%= f.label :End_day %><br/>
    <%= f.date_field :end_date %>
  </div>
  <div class="form_group">
    <%= f.label :People %><br/>
    <%= f.number_field :people %>
  </div>
  <div class="submit_block">
    <%= f.submit class: "button" %>
  </div>
<% end %>