触らないpathもOK

<div class="container">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th>introduction</th>
          <th>fee</th>
          <th>start date</th>
          <th>end date</th>
          <th>reserved day</th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.room.image %></td>
            <td><%= link_to reservation.room.name, room_path(reservation.room.id) %></td>
            <td><%= reservation.room.room_introduction %></td>
            <td><%= reservation.room.fee %></td>
            <td><%= reservation.start_date %></td>
            <td><%= reservation.end_date %></td>
            <td><%= reservation.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>