<div class="container">
  <h2>Results</h2>
  <div class="result">
    <% @results.each do |room| %>
    <div class="room_box">
      <%= link_to room_path(room.id) do %>
      <div class="room_image">
        <%= attachment_image_tag room, :image, format: 'jpeg', size: "200x120", fallback: "no_image.jpg" %>
      </div>
      <div class="room_overviews">
        <div class="room_overview form_group">
          <label>Name: </label>
          <%= link_to room.name, room_path(room.id) %>
        </div>
        <div class="room_overview form_group">
          <label>Fee: </label>
          <%= link_to room.fee, room_path(room.id) %> yen/day
        </div>
        <div class="room_overview form_group">
          <label>Address: </label>
          <%= link_to room.address, room_path(room.id) %>
        </div>
      </div>
      <% end %>  
    </div>
    <% end %>
  </div>
</div>
