<div class="container" style="display: flex">
  <!--Left: room information-->
  <div class="room_information">
    <div class="form_group">
      <label>Image</label><br/>
      <%= attachment_image_tag @room, :image, format: 'jpeg', size: "600x400", fallback: "no_image.jpg"%>
    </div>
    <div class="form_group">
      <label>Name</label><br/>
      <%= @room.name %>
    </div>
    <div class="form_group">
      <label>Address</label><br/>
      <%= @room.address %>
    </div>
    <div class="form_group">
      <label>Introduction</label><br/>
      <%= @room.room_introduction %>
    </div>
    <div class="link">
      <%= link_to "Back", :back %>
    </div>
  </div>
  <!--Right: reservation form-->
  <div class="reservation_form">
    <div class="field" style="font-size: 25px;">
      <%= @room.fee %> yen/day
    </div>
    <!--Reservation form-->
    <%= render 'shared/reservation-show' %>
  </div>
</div>