<!DOCTYPE html>
<html>
  <head>
    <title>Myapp3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div>
      <%= render 'shared/header' %>
      <!--login message-->
      <div class="notifications">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
      </div>
    </div>
    <%= yield %>
    <footer class="footer">
      <p>© 2021 Mika</p>
    </footer>
  </body>
</html>
